@model IEnumerable<MVCassessm1ques2.Models.Movie>

@{
    ViewBag.Title = "Movies Released in Given Year";
}

<h2>Movies Released in Given Year</h2>

<table class="table">
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Movie Name</th>
            <th>Date of Release</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Mid</td>
                <td>@movie.Moviename</td>
                <td>@movie.DateofRelease.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

